p {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}

.cardCustom {
  border-width: 4px;
  border-color: rgb(104, 103, 103);
  border-radius: 10px;
}

div.btn {
  border-radius: 0;
}

.card {
  border-width: 0px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 576px) {
  .centerForSmallDevices {
    display: flex;
    justify-content: center;
  }
}
